<h1>Halls#show</h1>
<p>Find me in app/views/halls/show.html.erb</p>

<%= link_to "All the hall", halls_path %>
<h4> <%= @hall.name %> </h4>
<h4> <%= @hall.location %> </h4>
<h4> <%= @hall.image %> </h4>
<h4> <%= @hall.area %> </h4>
<h4> <%= @hall.services %> </h4>
<h4> <%= @hall.price %> </h4>